<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- по умолчанию -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- глушим Hibernate -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>

    <!-- глушим Redis client/netty -->
    <logger name="io.lettuce" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>